[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask-marshmallow = "*"
click = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
